@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-black text-6xl;
  }
  h2 {
    @apply font-bold text-5xl;
  }
  h3 {
    @apply font-bold text-4xl;
  }
  h4 {
    @apply font-bold text-3xl;
  }
  h5 {
    @apply font-bold text-2xl;
  }
  h6 {
    @apply text-xl;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    @apply outline-none;
  }
}
